# Files and folders below are ignored

*.aux
*.bak-mo
*.dll
*.DS_Store
*.exe
*.exp
*.fmu
*.gz
*.idx
*.ilg
*.ind
*.lib
*.log
*.mat
/*.mm
*.mof
*.mos~
*.out
*.rar
*.toc
*.txt
*.xml
systemScript.py
.idea/
/IDEAS backup
/IDEAS/funnel_comp
/IDEAS/Inputs
/IDEAS/*.pyc
/IDEAS/Resources/drawings.pptx
/Specifications/Specs.synctex
/Specifications/Specs.tcp
/Specifications/Specs.tps

# The files below are not ignored (hence the "!")
!/Inputs/*.txt
!/IDEAS/Inputs/*.txt
!/IDEAS/Resources/strobe/*.txt
!/IDEAS/Resources/ReferenceResults/Dymola/*.txt
